*.html

# Obsidian

.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json

# exclude workspace cache
.obsidian/workspace/*

# Exclude Untitled Notes
Untitled*

/result.md
/lorem.txt
/result.txt